body{
    text-align: center;
    font-family: "Arial";

}

.scramble{
    font-size:2rem;
    margin-top:3rem;
}
.timer{
    font-size:5rem;
    padding:5rem;
    margin:2rem 0;
}



th{
    font-size:2rem;
    border:0.1rem solid grey;
    padding:0.5rem;
    width:50%;
}
td{
    font-size:2rem;
    border:0.1rem solid grey;
    padding:0.5rem;
    width:50%;
}

table{
    border-spacing: 0;
    width:100%;
    border:0.1rem solid grey;
    
}

.result{
    height:14.2rem;
    overflow-y:auto;
    box-shadow: 0 0 5px grey;
    width:50%;
    margin: 0 auto;
}

.result::-webkit-scrollbar{
    display: none;
}

.timer.ready{
    color:red;
}

.timer.running{
    color:green;
}